{% extends 'base.html'%}
{%block navbar %}
   {% include 'navbar.html' %}
{% endblock %} 
{% block content %}
{% for quote in getquotes %}
<div>

<div class="card card-image" >
   <div class="text-white text-center rgba-stylish-strong py-5 px-4">
     <div class="py-5">
 
       <h5 class="h5 rgba(0, 0, 0, 0.7) rgba-black-strong-text"><i class="fas fa-comment fa-fw"></i> lets share our experiences with love!.</h5>
       <h2 class="card-title h2 my-4 py-2">{{quote.author}}</h2>
       <p class="mb-4 pb-2 px-md-5 mx-md-5">{{quote.quote}}</p>
       <a class="btn #f9a825 yellow darken-3" aria-haspopup="true" aria-expanded="false" href = "{{url_for('main.allBlogs')}}"><i class="fas fa-clone left"></i> View Blogs</a>
 
     </div>
   </div>
 </div>
<div class="text-center">
   <h2>About Page</h2>
   <p>Welcome to wanjiku blog where communication is key. for those that are are able to share their experiences.<br>For those tha are willing to help and being friendly to everybody<br>without descrimination<br>and above all self respec and respect others also</p>
</div>
<footer class="page-footer font-small #424242 grey darken-3">

   <div class="footer-copyright text-center py-3">© 2020 Copyright:Dorcas Wanjiku|
     <a href="#">Wanjiku-Blog</a>
   </div>
 
 </footer>
</div>
 {% endfor %}
 {% endblock %}
