
{% extends 'base.html'%}
{%block navbar %}
   {% include 'navbar.html' %}
{% endblock %} 
{% block content %}
{% for quote in getquotes %}
<div>

<div class="card card-image" >
   <div class="text-white text-center rgba-stylish-strong py-5 px-4">
     <div class="py-5">
 
       <h5 class="h5 orange-text"><i class="fas fa-comment fa-fw"></i> Better days are ahead!.</h5>
       <h2 class="card-title h2 my-4 py-2">{{quote.author}}</h2>
       <p class="mb-4 pb-2 px-md-5 mx-md-5">{{quote.quote}}</p>
       <a class="btn peach-gradient" aria-haspopup="true" aria-expanded="false" href = "{{url_for('main.allBlogs')}}"><i class="fas fa-clone left"></i> View Blogs</a>
 
     </div>
   </div>
 </div>
<div class="text-center">
   <h2>About Page</h2>
   <p>Wanjiku blog is a site with positive energy and good vibes.<br>Here we share our thoughts and support each individuals point of view because everyone matters<br>we embrace each other for who are<br> so lets share our thoughts with love and a supportive mentality.</p>
</div>
<footer class="page-footer font-small warning-color-dark
#FF8800">

   <div class="footer-copyright text-center py-3">© 2020 Copyright:Dorcas Wanjiku|
     <a href="#"> My-Blog</a>
   </div>
 
 </footer>
</div>
 {% endfor %}
 {% endblock %}